<div class="justify-content-center shadow rounded">
  <div class="pad h-140px">
    <h5>{{ task.title }}</h5>
    <p>{{ task.description }}</p>
  </div>


  <ng-template [ngIf]='task.isDone' [ngIfElse]='elseBlock'>
  <button  class="w-100 btn btn-flat btn-success " disabled>Completed!</button></ng-template>
  
  <ng-template #elseBlock><button  (click)='onComplete()' class="w-100 btn btn-flat btn-secondary" >Finished?</button></ng-template>

  <div class="d-flex justify-content-between align-items-stretch" role="group">
    <button class="btn-block rounded-bl btn-secondary" (click)="onEdit()">Edit</button>
    <button class="btn-block rounded-br btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>