.task {
    margin-bottom: 20px;
    border: 1px solid rgb(114, 111, 111);
    -moz-box-shadow: 13px 11px 33px #b4afaf;
    -webkit-box-shadow: 13px 11px 33px #b4afaf;
    box-shadow: 13px 11px 33px #b4afaf;
}


@media (min-width: 768px) {
    .task {
        margin-right: 20px;
    }
}